.board{
  justify-content: center;
  display: flex;
  gap: 20px;
  width: 90%;
  max-width: 2200px;
  flex-wrap: wrap;
}

.kanban-board{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}