*{
  overflow-x: hidden;
  box-sizing: border-box;

}


  .app{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
  }

  .heading{
    font-size: 14px;
    font-weight: 400;
    color: gray;
    letter-spacing: 1px;
  }